* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkslategray;
}

.box {
    background-color: darkgray;
    font-size: 2rem;
    padding: 0.5rem;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 450px 450px;
    gap: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: olive;
}

.box {
    background-color: darkolivegreen;
}